/* <-- Google Fonts --> */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500&display=swap");

/* <-- Tailwind CSS --> */
@tailwind base;
@tailwind components;
@tailwind utilities;

.myBtn {
	@apply bg-gradient-to-r from-rose-600 to-primary  py-3 px-5 rounded-lg font-Roboto font-medium
}

/* <-- Custom Css --> */
.selector {
	background: linear-gradient(to right, #2c2c6c, #4db5ff);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.box {
	transition: ease-in-out 4s;
}
